version: "3.9"

services:
  db:
   image: postgres:15
   container_name: social_db
   restart: always
   environment:
    POSTGRES_USER: myuser
    POSTGRES_PASSWORD: mypassword
    POSTGRES_DB: scalable_social_feed
   ports:
    - "5432:5432"
   volumes:
    - postgres_data:/var/lib/postgresql/data

volumes:
   postgres_data: